body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:lightblue;
}

.update{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}

.update h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid;
}

.update h2{
    text-align: center;
    padding: 0 0 20px 0;
}

/* style for reset text using reset as an ID */
.update #updated{
    text-align: center;
}
/* style for return to login text using return as an ID */
.update #return{
    text-align: center;
}